[flake8]
indent-size = 2

# E221: multiple spaces before operator
# E401: multiple imports on one line
# E701: multiple statements on one line (colon)
extend-ignore =
    E221,
    E401,
    E701,

# F401: imported but not used
per-file-ignores =
    __init__.py: F401
